
@import "tailwindcss";
/* globals.css */


:root {
  --font-body: "Inter", sans-serif,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  --font-accent: "Syne", sans-serif;
}
body {
  filter: none !important;
  backdrop-filter: none !important;
  font-feature-settings: "calt", "ss01", "ss02";
  -webkit-font-smoothing: antialiased;
}
.font-body {
  font-family: var(--font-body);
}
.font-feature {
  font-feature-settings: "calt", "ss01", "ss02";
}
.font-space {
  font-family: "Space Mono", monospace;
}
.font-accent {
  font-family: var(--font-accent);
}
@keyframes hero-fade-up {
  0% {
    opacity: 0;
    transform: translateY(24px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.hero-fade-up {
  animation: hero-fade-up 0.9s cubic-bezier(.19, 1, .22, 1) forwards;
}
.hero-fade-up {
  opacity: 0;
}
.font-smooth {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.about-bg-glow {
  position: absolute;
  inset: 0;
  background:
    radial-gradient(
      circle at 50% 40%,
      rgba(52, 211, 153, 0.18),
      transparent 65%
    ),
    radial-gradient(
      circle at 80% 70%,
      rgba(52, 211, 153, 0.12),
      transparent 55%
    ),
    radial-gradient(
      circle at 20% 85%,
      rgba(52, 211, 153, 0.10),
      transparent 60%
    );
  pointer-events: none;
}
@keyframes about-float-particle {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 0.3;
  }

  50% {
    transform: translate3d(0, -26px, 0);
    opacity: 0.9;
  }

  100% {
    transform: translate3d(0, 0, 0);
    opacity: 0.3;
  }
}

.about-particle {
  position: absolute;
  border-radius: 50%;
  background: rgb(52, 211, 153); /* emerald-400 EXACT */
  filter: blur(1px);
  animation-name: about-float-particle;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 16s;
}
@keyframes spin-slow {
  from {
    transform: translateZ(0) rotate(0deg);
  }
  to {
    transform: translateZ(0) rotate(360deg);
  }
}


.animate-spin-slow {
  animation: spin-slow 18s linear infinite;
}
@keyframes expandWidth {
  from { width: 0; opacity: 0; }
  to { width: 100px; opacity: 1; }
}
@keyframes float {
  0% {
    transform: translateY(0);
    opacity: 0.4;
  }
  50% {
    transform: translateY(-30px);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 0.4;
  }
}
@keyframes mouseScroll {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(6px);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 0;
  }
}

.mouse-dot {
  width: 6px;
  height: 6px;
  border-radius: 9999px;
  background-color: #00ff84;
  animation: mouseScroll 1.4s infinite ease-in-out;
}
